{% extends 'base.html' %}
{% block title %}Quiz | Questions{% endblock %}

{% block hello %}
  {% if user.is_authenticated %}
     - Hi Employee {{ user.username }}!
  {% endif %}
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}

    {% if que_list %}
      {% for question in que_list %}

          <h2>Question # {{question.question_id}}</h2>
          <p>{{ question.question_text }}<p>

          {% if has_options == 'Y' %}
            <form action = "submit" method="post">
            {% csrf_token %}
            {{ form1 }}
            <input type="submit" value="Submit">
            </form>

          {% else %}
            <form action = "submit" method="post">
            {% csrf_token %}
            {{ form2 }}
            <input type="submit" value="Submit">
            </form>
          {% endif %}

          {% if que_id == 1 %}
            <p><a href="/quiz/{{que_id | add:"1" }}/" class = "button">Next</a></p>
          {% elif que_id < 10 %}
            <p><a href="/quiz/{{que_id | add:"-1" }}/"  class = "button">Previous</a> <a href="/quiz/{{que_id | add:"1" }}/"  class = "button">Next</a></p>
          {% else %}
            <p>Thank you for taking the test <a href="{% url 'submission' %}">click here </a> to view your submission</p>
          {% endif %}

          {% if has_media == 'Y' %}
            <p>media goes here</p>
          {% else %}
            <p>no media to display</p>
          {% endif %}

      {% endfor %}
    {% endif %}

  {% else %}
    <p>unauthorised access</p>
  {% endif %}
{% endblock %}

{% block progress %}
  {% for i in range %}
    {% if forloop.counter == que_id %}
      <a href="/quiz/{{ forloop.counter }}/" class = "thisquestion"> {{ forloop.counter }}</a>
    {% else %}
      <a href="/quiz/{{ forloop.counter }}/"> {{ forloop.counter }}</a>
    {% endif%}
  {% endfor %}
{% endblock %}
