{% extends 'base.html' %}

{% block title %}Quiz - Start{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Hi {{ user.username }}! welcome to Quiz# {{ quiz_id}}</h2>
    <p>You have successfully logged in</p>
    <p>Questions will be displayed one after the other</p>
    <p>You can answer or skip the question and proceed to the next one </p>
    <p>Youy attempt an unanswered question later</p>
    <p>You may proceed to <a href="1">question 1</a></p>
    <p><a href="{% url 'logout' %}" class="button">Logout</a></p>

    {% if previous_attempt == 1 %}
      <p>You have already taken the quiz once</p>
      <p>Multiple attempts are not allowed</p>
    {% endif%}

  {% else %}

    {% if previous_attempt == 1 %}
      <p>You have already taken the quiz once</p>
      <p>Multiple attempts are not allowed</p>
    {% endif%}

    <p>Unauthorised access</p>

  {% endif %}

{% endblock %}
