html, body{
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container-main {
  width: 100%;
  min-height: 100vh;
  padding: 15px;
  background: #f2f2f2;

}

.wrapper{
  min-width: 900px;
  min-height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -450px;
}

.header{
  background-color: #44B78B;
  color:#ffffff;
  font-weight: 800;
  font-size: 1.3rem;
  padding: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.wrapperforcontent {
  background: #fff;
  overflow: hidden;
  align-items: stretch;
  padding: 15px;
}

.progress{
  background-color: #44B78B;
  color:#ffffff;
  font-weight: 800;
  font-size: 1.3rem;
  padding: 15px;
}

.progress a{
  color: #fff;
  text-decoration: none;
}

.button {
  background-color: #44B78B;
  padding: 10px 15px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}
