{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link rel = "stylesheet" href= "{% static 'quiz/css/main.css' %}">
</head>
<body>

<div class="banner">
  <div class="container">
      Quiz@Kudgi
  </div>
</div>

<div class="container">
  {% block content %}{% endblock %}
</div>

<div class="footer">
  <div class="container">
    Quiz by R Seshadri. App by Subin Abid.  A django app, powered by Heroku
  </div>
</div>

</body>
</html>
