{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link rel = "stylesheet" href= "{% static 'quiz/css/main.css' %}">
</head>

<body>

<div class="container-main">
  <div class="wrapper">

    <div class="header">
      Quiz@Kudgi {% block hello %} {% endblock %}
    </div>

    <div class="wrapperforcontent">
      {% block content %}{% endblock %}
    </div>

    <div class="progress">
        {% block progress %}{% endblock %}
    </div>
    A <a href="https://www.djangoproject.com/">django</a> app by <a href="https://subinabid.xyz/">Subin Abid</a>, Dy Manager (ME) - NTPC Kudgi | Hosted on <a href="https://www.heroku.com/">Heroku</a><br>

  </div>

</div>

</body>
</html>
